<section
  class="max-w-[60rem] w-full px-6 pt-32 flex justify-between items-center"
>
  <div class="mr-6">
    <h3 class="text-4xl">Hello,</h3>
    <h1 class="font-semibold text-6xl">I'm Süha.</h1>
    <p>I’m a software engineer specializing in the front end.</p>
  </div>
  <div class="w-[12rem]">
    <img
      class="w-full h-auto object-contain rounded-3xl shadow-lg"
      src="/public/images/profile.png"
      alt="a profile picture"
    />
  </div>
</section>
