---

---

<section class="w-3/5 flex justify-center items-center">
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, doloribus,
    sunt, molestias iusto possimus atque fugiat veritatis placeat libero
    quisquam dolore dolorum! Accusantium, quibusdam impedit animi soluta sequi
    ad ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum soluta,
    enim suscipit placeat mollitia tempora, delectus laudantium voluptas modi
    eligendi consequatur illum dignissimos laboriosam obcaecati, iste blanditiis
    beatae! Minima, dicta? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Unde eaque incidunt vitae numquam, laboriosam excepturi atque qui
    laudantium nulla. Minus adipisci dolor doloribus mollitia similique eveniet!
    Vitae quibusdam sint ad? Saepe at adipisci laboriosam. Perspiciatis
    laboriosam, ut quod nulla laborum facilis eveniet accusamus debitis quos
    expedita harum architecto, alias amet necessitatibus autem, consequuntur sit
    possimus provident dicta ex odit. Nobis.
  </div>
</section>
