<footer class="max-w-[60rem] px-6 flex flex-col items-center mt-auto">
  <p class="font-extralight text-[0.7rem] text-primary dark:text-cyan-50">created by</p>
  <p class="font-normal text-[0.9rem] text-primary dark:text-cyan-50">&nbsp;Süha Tanrıverdi</p>
  <p class="font-extralight text-[0.7rem] pb-4 text-primary dark:text-cyan-50">&nbsp;2024</p>
</footer>
