<footer class="max-w-[60rem] px-6 flex flex-col items-center mt-auto">
  <p class="font-thin text-[0.7rem]">created by</p>
  <p class="font-extralight text-[0.9rem]">&nbsp;Süha Tanrıverdi.</p>
  <p class="font-thin text-[0.7rem] pb-4">&nbsp;2024</p>
</footer>
