---
import DarkMode from "../icons/dark-mode.astro";
import LightMode from "../icons/light-mode.astro";
---

<nav class="max-w-[60rem] px-6 py-8 w-full flex justify-between items-center">
  <a href="#">Süha Tanrıverdi</a>
  <ul class="flex gap-4">
    <a href="#">Home</a>
    <a href="#">Projects</a>
    <a href="#"><DarkMode size="1.6rem" /></a>
    <!-- <a href="#">DE/EN</a> -->
    <!-- <a href="#"><LightMode /></a> -->
  </ul>
</nav>

<style>
    a:hover {
        color: rgba(0, 143, 153, 0.876);
    }
</style>