---
import DarkMode from "../icons/dark-mode.astro";
import LightMode from "../icons/light-mode.astro";
---

<nav class="w-3/5 flex justify-between items-center">
  <a href="#">Süha Tanrıverdi</a>
  <ul>
    <a href="#">Home</a>
    <a href="#">Projects</a>
    <a href="#"><DarkMode /></a>
    <!-- <a href="#"><LightMode /></a> -->
  </ul>
</nav>
