---
import DarkMode from "../icons/dark-mode.astro";
import LightMode from "../icons/light-mode.astro";
import Lang from "../icons/lang.astro";
---

<nav class="max-w-[60rem] px-6 py-8 w-full flex justify-between items-center">
  <a href="/">Süha Tanrıverdi</a>
  <ul class="flex gap-4">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="#"><DarkMode size="1.6rem" /></a>
    <!-- <a href="#"><Lang size="1.6rem" /></a> -->
  </ul>
</nav>
