---
import Main from "../layouts/main.astro";
import Project from "../components/project.astro";
---

<Main>
  <section class="max-w-[60rem] w-full px-6 mt-[20vh]">
    <div class="flex flex-col"></div>
    <div class="flex justify-between items-center">
      <div class="mr-6">
        <h3 class="text-l sm:text-2xl md:text-3xl">Hello,</h3>
        <h1 class="font-semibold text-2xl sm:text-4xl md:text-6xl">
          I'm Süha.
        </h1>
        <p class="text-sm sm:text-lg mt-6 mb-1 text-pretty">
          I’m a software engineer specializing in the front end.
        </p>
        <p class="text-sm sm:text-lg">I have a passion for UI/UX designs.</p>
      </div>
      <div class="max-w-[10rem]">
        <Project w="120" h="120" src="/public/images/eriste.jpg" />
        <Project w="120" h="120" src="/public/images/eriste.jpg" />
      </div>
    </div>
  </section>
</Main>
